body {
	margin-top: 80px;
}

h1 {
	margin-bottom: -4px;
}

.strapline {
	font-style: italic;
}

.panel-home {
	margin-top: 25%;
	font-size: 17px;
}

.panel-home h4 {
	font-size: 22px;
}

.btn-login {
	margin-right: 12px;
}

form {
	margin: 24px 0;
}

.error {
	color: red;
	margin: 24px 0;
}

.author {
	font-size: 14px;
}

.rating-stars {
	margin-left: 12px;
}

.dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.panel-hidden {
	opacity:0;
    height: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease .15s;
  	-moz-transition: all .3s ease .15s;
  	-o-transition: all .3s ease .15s;
  	-ms-transition: all .3s ease .15s;
  	transition: all .3s ease .15s;
}

.panel-shown {
	opacity:1;
    height: 100%;
    -webkit-transition: all .3s ease .15s;
  	-moz-transition: all .3s ease .15s;
  	-o-transition: all .3s ease .15s;
  	-ms-transition: all .3s ease .15s;
  	transition: all .3s ease .15s;
}

.btn-title {
	margin-left: 8px;
}

.btn-move:hover {
	cursor: move;
}