body {
	margin-top: 50px;
}

form {
	margin: 24px 0;
}

.error {
	color: red;
	margin: 24px 0;
}

.panel-home {
	margin-top: 30%;
}

.btn-login {
	margin-right: 12px;
}

.rating-stars {
	margin-left: 12px;
}