$background: #fff1f0; // #f4f4f4;
$btn-add: #8cc1d6; // #4cafd6;
$btn-add-border: darken($btn-add, 20%);
$panel-heading: rgba(210, 148, 109, 0.46); // #494e6b;
$panel-heading-border: darken($panel-heading, 20%);
$btn-delete: #985e6d;
$btn-delete-border: darken($btn-delete, 20%);
$btn-panel: #98878f;
$btn-panel-border: darken($btn-panel, 20%);
$btn-move: #926c7e;
$btn-move-border: darken($btn-move, 20%);
$error: #c76714;
$error-border: darken($error, 20%);

body {
	margin-top: 60px;
	background-color: $background;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

h1 {
	margin-bottom: -4px;
	font-size: 32px;
	font-family: 'Roboto Slab', serif;
}

p.lead {
	font-size: 14px;
}

h4 {
	padding-left: 16px;
	font-size: 14px;
	.author {
		font-size: 12px;
	}
}

.img-home {
	display: none;
}

h3.panel-title {
	color: #444;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 12px;
}

.rating-stars {
	padding: 0 16px;
	margin: 8px 0 16px;
	font-size: 12px;
	color: #444;
}

.navbar-brand {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

a {
	color: $btn-add-border;
	&:hover {
		color: $btn-add;
		text-decoration: none;
	}
}

.navbar {
	background-color: $btn-panel;
	border-color: $btn-panel-border;
	a {
		color: white;
		&:hover {
			color: $btn-panel-border;
		}
	}
}

.strapline {
	font-style: italic;
}

#booklist {
	margin-top: 24px;
}

.panel {
	border-color: $panel-heading-border;
}

.panel-home {
	margin-top: 15%;
	font-size: 14px;
	h4 {
		font-size: 20px;
	}
}

.panel-heading {
	background-color: $panel-heading;
}

.panel-title {
	font-family: 'Roboto Slab', serif;
}

.book-title {
	color: #444;
}

.panel-details {
	padding: 0 16px;
}

.book-cover {
	margin-bottom: 16px;
}

.btn-home {
	color: white;
	background-color: $btn-add;
	border-color: $btn-add-border;
}

.btn:hover {
	color: white;
}

.btn-login {
	margin-right: 12px;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset;
}

.btn-add {
	width: 100%;
	color: white;
	background-color: $btn-add;
	border-color: $btn-add-border;
	&:focus {
	background-color: $btn-add;
	border-color: $btn-add-border;
	}
}

.btn-panel {
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: 8px;
}

.btn-details {
	background-color: $btn-panel;
	border-color: $btn-panel-border;
}

.btn-move {
	font-size: 8px;
	background-color: $btn-move;
	border-color: $btn-move-border;
}

.btn-delete {
	background-color: $btn-delete;
	border-color: $btn-delete-border;
	margin-right: -1px;
}

.btn-move:hover {
	cursor: move;
}

form {
	margin: 24px 0;
}

.dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.panel-hidden {
	opacity:0;
    height: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease .15s;
  	-moz-transition: all .3s ease .15s;
  	-o-transition: all .3s ease .15s;
  	-ms-transition: all .3s ease .15s;
  	transition: all .3s ease .15s;
}

.panel-shown {
	opacity:1;
    height: 100%;
    -webkit-transition: all .3s ease .15s;
  	-moz-transition: all .3s ease .15s;
  	-o-transition: all .3s ease .15s;
  	-ms-transition: all .3s ease .15s;
  	transition: all .3s ease .15s;
}

.alert-danger {
	background-color: $error;
	border-color: $error-border;
}

footer {
	font-size: 12px;
}

@media screen and (min-width: 768px) {
	h4 {
		font-size: 16px;
	}
	.btn-panel, .btn-move {
		font-size: 10px;
	}
	.img-home {
		margin-top: 24px;
		display: block;
	}
}