extends list

block books
	.panel.panel-default.accordion-toggle(ng-repeat="book in data.books | filter: textFilter")
		.panel-heading
			h4.panel-title {{ book.title + " - " + book.author }}
		.panel-collapse
			.panel-body
				.row
					.col-lg-8
						| {{ book.summary }}
					.col-lg-4
						img(src= "/images/cover.jpg").img-responsive