<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <div class="panel panel-default panel-home">
        <div class="panel-body">
          Welcome to Nextread !
        </div>
      </div>
      
    <button ng-click="vm.login()" class="btn btn-lg btn-primary btn-login">Login</button><button ng-click="vm.register()" class="btn btn-lg btn-primary">Register</button>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>